
/* header */
#header {
    top: 0;
    position: absolute;
    height:100px;
    width: 100%;
    background-color: #0066cc;
    text-align: center;
    z-index: 1;
}

/*navigation */
#navigation {
    top: 100px;
    bottom: 50px;
    position: absolute;
    width:80px;
    background-color: #333333;
    background-size : 100%;
    position:absolute;
    z-index: 1;
}

/* map div */
#map {
    position: absolute;
    height: 100%;
    width: 100%;
}


/* List of the navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* div footer */
#footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: green;
    text-align: center;
    z-index: 1;
}


/* initial parameters of the extra div which are used to interacte with the map */
#show_Location,#show_BusLine,#show_BusStop,#show_BusLoc,#show_Journey{
    display:none;
    width : 450px;
    background-color : white;
    border-right:solid;
    border-right-color:grey;
    position:absolute;
    top: 100px;
    bottom: 50px;
    margin-left:80px;
    z-index:3;
    opacity: 0.9;
    text-align: center;
    
}

#closeButton0 , #closeButton1, #closeButton2, #closeButton3, #closeButton4 {
    float: right;
}

#closeButton0:hover { background-color: red;}
#closeButton1:hover { background-color: red;}
#closeButton2:hover { background-color: red;}
#closeButton3:hover { background-color: red;}
#closeButton4:hover { background-color: red;}


#btnSearch{
    margin : 5px;
}

/* initial parameters for radio-buttons in the BusStop-DIV */
.selectRadius,.selectLine{
    display: none;
}

#arrivalTable {
    max-height: 100px;
}