
<div  class="container">
    <div class="row">

        <div>

            <h2 >Lines</h2>
            <div id="buttonList" class="list-group col-lg-4">
                <button ng-repeat="line in lines" type="button" 
                        class="list-group-item" ng-click="showLine($event)">{{line}}</button>
            </div>

            <!-- Map container -->
            <h2 >Bus stops within 200 meters radius</h2>
            <div id="map" class="list-group col-lg-8">

            </div>
        </div>

    </div>
    <div class="row"> 
        <h2> Bus Stop Details</h2>
        <table border="1" class="table table-striped row">
            <tr>
                <th>Id</th>
                <th>Common Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            <tr ng-repeat="x in myData2">
                <td>{{x.id}}</td>
                <td>{{x.commonName}}</td>
                <td>{{x.lat}}</td>
                <td>{{x.lon}}</td>
            </tr>
        </table>
    </div>

    <p id="test"></p>
</div>