
<!--           container : main div contains header, body and footer        -->
<div id="container" ng-controller="mainController">

    <!-- header  -->
    <div id="header">
        <h3> Transport for London Application <br/> HTW Saarland  </h3>
    </div>

<!-- page navigation -->
        <div id="navigation">
            <!-- the navigation list -->
            <ul>
                <!-- first element of the navigation list "LOCATION" -->
                <li id="Location">
                    <img src="img/Location-Standard.png" title="You can search for a location"  onmouseover="this.src = 'img/Location-MoveActive.png'" onmouseout="this.src = 'img/Location-Standard.png'">
                </li>
                <!-- second element of the navigation list "BUS LINE" -->
                <li id="BusLine">
                    <img src="img/BusLine-Standard.png" title="You can search for a BusLine" onmouseover="this.src = 'img/BusLine-MoveActive.png'" onmouseout="this.src = 'img/BusLine-Standard.png'">
                </li>
                <!-- third element of the navigation list "BUS STOPS" -->
                <li id="BusStop">
                    <img src="img/BusStop-Standard.png" title="You can search for one or more Busstops" onmouseover="this.src = 'img/BusStop-MoveActive.png'" onmouseout="this.src = 'img/BusStop-Standard.png'">
                </li>
                <!-- fourth element of the navigation list "JOURNEY"  -->
                <li id="Journey">
                    <img src="img/Journey-Standard.png" title="You get some ideas how to travel from one point to another"  onmouseover="this.src = 'img/Journey-MoveActive.png'" onmouseout="this.src = 'img/Journey-Standard.png'">
                </li>
                <!-- fifth element of the navigation list "BUS LOCATION" -->
                <li id="BusLoc">
                    <img src="img/FindBus-Standard.png" title="You can search the current location of a bus"  onmouseover="this.src = 'img/FindBus-MoveActive.png'" onmouseout="this.src = 'img/FindBus-Standard.png'">
                </li>
            </ul>
        </div>


    <!-- body -->
    <div id="content">

        <!-- elements are shown when the user clicks on an item of the navigation list -->
        <div id="dialogDiv" >

            <!-- User clicks on "LOCATION" -->
            <div id="show_Location">
                <button id="closeButton0" title="close" >X</button>
                <div id="Location_Header">
                    <h2> Location </h2>
                </div>

                <div id="Location_Form">
                    <form action="#">
                        <div class="text">
                            Enter a Location:<br>
                        </div>
                        <input id="inputLocation" type="text" name="Location"><br>
                        <input id="btnSearchLocation" type="button" value="Search">

                        <div id="lat" style="visibility: hidden"></div>
                        <div id="long" style="visibility: hidden"></div>
                    </form>
                </div>

                <div id="Location_Result">
                </div>
            </div>

            <!-- User clicks on "BUSLINE" -->
            <div id="show_BusLine">
                <button id="closeButton1" title="close">X</button>
                <h2>Bus Line</h2>

                <p>Select a Bus Line to show it on the map</p>

                <form action="#">
                    <label>Line :
                        <select id="busLineSelect" name="cbBusLine">

                        </select>
                    </label>
                    <input id="btnBusLineSearch" type="button" value="Search">
                </form>

                <div id="BusLine_Result">

                </div>
            </div>

            <!-- User clicks on "BUS STOPS" -->
            <div id="show_BusStop">
                <button id="closeButton2" title="close">X</button>
                <h2>Bus Stops</h2>

                <form action="#" >
                    <label>Select a line to show its bus stops:
                        <select id="busStopSelect" name="cbBusLine">
                        </select>
                    </label>
                    <br>
                    <input id="btnBusStopSearch" type="button" value="Search">
                </form>

                <div id="BusStop_Result">
                </div>
            </div>

            <!-- User clicks on "JOURNEY" : plan a trip  -->
            <div id="show_Journey">
                <button id="closeButton3" title="close" >X</button>
                <h2>Trip Planner</h2>
                <form action="#">
                    <span> <label>Date</label><input type="datetime-local"  > </span><span></span>
                    <label>From</label>
                        <input type="text" id="start" value="Lewisham Centre">
                    <label>To</label>
                        <input type="text" id="destination" value="Newington Green">
                    <button id="btnJourneyPlanner" type="button" value="Search">Search</button>
                </form>

                <div id="Journey_Result">

                    <table class="table table-hover" id="testName">
                        <thead>
                            <tr>
                                <th>Departure</th>
                                <th>Arrival</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- User clicks on "BUSLOCATION" -->
            <div id="show_BusLoc">
                <button id="closeButton4" title="close" >X</button>
                <h2 > Routes </h2>
                <p > click on a bus number with active status <br> to view it's <br> real time  location </p>

                <form action="#">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Bus Nr.</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Duration</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><button type="button" >101</button></th>
                                <td>11:30</td>
                                <td>12:15</td>
                                <td>0:45</td>
                                <td>active</td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <div id="BusLocation_Result"> </div>

            </div>

        </div>

        <div id="loader"></div>
        <!-- map display -->
        <div id="map"></div>

    </div>

    <!-- footer -->
    <div id="footer" >
        <h4> Copyright &copy; - HTW Saarland - 2016 </h4>
    </div>
</div>
