	<div class="container">
		<div class="row">
			<h2 class="col-lg-12">Circle Line</h2>
		<div>
		
		<div class="row">
			<div id="buttonList" class="col-lg-4">
					<label>Lon:</label>
					<input id="inpLat" type="text" ng-model="inpLat"  /><br />
					<label>Lat:</label>
					<input id="inpLon" type="text" ng-model="inpLon" /><br />
					<label>Radius:</label>
					<input id="radius" type="text" ng-model="radius" /><br />
					<button ng-click="findNearestStop()">Show On Map</button>
			</div>
			
			<!-- Map container -->
			<div id="map" class="col-lg-8"></div>
		</div>
		
	</div>